
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMoney.cshtml";
}

<h2>我的記帳本</h2>

@Html.Partial("CreateFee")

<br />
@Html.Action("ListAll")


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

}


